html {
    font-size: 120%;

}
body {
    background-color: $color-fondo;
    color: $color-fuente-secundario;
    font-family: 'Roboto', sans-serif;
}

a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

h1 {
    text-align: center;
    color: black;
}

header {
    background-color: $color-fondo;

}

li {
    margin-left: 0px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

/* MAIN */
.parrafo {
    text-align: center;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: $color-fuente-secundario;

}

h2 {
    text-align: center;
    background-color: $color-fondo;

}

/* IMAGENES */

.img-wrapper {
    text-align: center;
}


.img-wrapper img {
    width: 500px;
    height: auto;
}

img {
    width: 300px;
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #9b7885;
}

main {
    background-color: $color-fondo;


}

p {
    text-align: center;
}
form {
    text-align: center;
}
div {
    text-align: center;
}

.img-fluid {
    width: 100%;
}

.titulo {
    font-size: 200%;
}

.parrafoRuta {
    font-size: 150%;
}

.imgSize {
    height: 50%;
}

.form-check {
    text-align: center;
}
.form-check-label {
    margin: 0;
}

.navbar {
    background-color: $color-fondo;
    text-align: center;
}

.navbar-nav {
    text-align: center;
}

.ulEstilo {
    text-align: center;
}

.itemDiv {
    font-size: 150%;
}

.itemBurger {
    justify-content: center;
}
